<button class="btn btn-success mt-3" data-bs-target="#modalAgregarEmpresa" data-bs-toggle="modal">Agregar Empresa</button>
<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Municipio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{empresa.nombre}}</td>
        <td>{{empresa.municipio}}</td>
        <td>{{empresa.tipo}}</td>
        <td>{{empresa.telefono}}</td>
        <td>
          <svg (click)="getOneEmpresa(empresa)" data-bs-target="#offCanvas" data-bs-toggle="offcanvas" style="margin-right: 10%" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>
          <svg (click)="getOneEmpresa(empresa)" (click)="eliminarEmpresa()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
        </td>
      </tr>
      <tr>
    </tbody>
  </table>

  <!--MODAL AGREGAR EMPRESA-->
<!-- Modal -->
<div class="modal fade" id="modalAgregarEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Empresa</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="register(addForm)">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="empresa.nombre" name="nombre" type="text" class="form-control" id="nombre" >
          </div>
          <div class="form-group">
            <label for="municipio">Municipio</label>
            <input [(ngModel)]="empresa.municipio" name="municipio" type="text" class="form-control" id="municipio" >
          </div>
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <input [(ngModel)]="empresa.tipo" name="tipo" type="text" class="form-control" id="tipo" >
          </div>
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input [(ngModel)]="empresa.telefono" name="telefono" type="text" class="form-control" id="telefono" >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="empresa.password" name="password" type="password" class="form-control" id="password">
          </div>
          <button (click)="getEmpresas()" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Agregar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--off canvas-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offCanvas" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <form #actualizarEmpresaForm = "ngForm" (submit)="actualizarEmpresa()">
        <div class="mb-3">
          <label for="ActualizarNombre"class="form-label">Nombre</label>
          <input [(ngModel)]="oneEmpresa.nombre" name="actualizarNombre" type="text" class="form-control" id="ActualizarNombre">
        </div>
        <div class="mb-3">
          <label for="actualizarMunicipio"class="form-label">Municipio</label>
          <input [(ngModel)]="oneEmpresa.municipio" name="actualizarMunicipio" type="text" class="form-control" id="actualizarMunicipio">
        </div>
        <div class="mb-3">
          <label for="ActualizarTipo"class="form-label">Tipo</label>
          <input [(ngModel)]="oneEmpresa.tipo" name="actualizarTipo" type="text" class="form-control" id="ActualizarTipo">
        </div>
        <div class="mb-3">
          <label for="ActualizarTelefono"class="form-label">Telefono</label>
          <input [(ngModel)]="oneEmpresa.telefono" name="ActualizarTelefono" type="text" class="form-control" id="ActualizarTipo">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>