<!doctype html>
<html lang="en">

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
       <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
          </nav> 
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Sucursales.</h1>
        <img class="circular" src="../../../assets/image/sucursales.jpg">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, doloremque dicta eius repudiandae esse delectus consequatur a dolor officiis, velit reiciendis, porro quaerat voluptatem quas? Cum cumque dolorem odit nostrum.</p>
        <p class="lead">
          <img src="../../../assets/image/" alt="">
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Facebook paige <a href="https://getbootstrap.com/">Bootstrap</a>, twitter <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
  </body>
</html>

